* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #000;
    overflow-x: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    z-index: 999;
    position: relative;
    width: 100%;
    height: 12vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.51);
}

.containerHeader {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}

.containerHeader:nth-child(2) {
    width: 45%;
}

.containerHeader:nth-child(3) {
    display: flex;
    justify-content: space-evenly;
}

#Logo {
    width: 10vw;
    margin-left: 2vw;
}

#navHeader {
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.liHeader {
    list-style: none;
}

.aHeader {
    cursor: pointer;
    font-family: "Raleway", sans-serif;
}

.aHeader,
.aHeaderBtn {
    text-decoration: none;
    font-size: 1.15vw;
    color: #000;
    transition: 0.2s ease;
    font-weight: 400;
}

.aHeader:hover {
    color: #D40000;
}

#containerHeaderUsuario {
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#userIcon {
    width: 2.2vw;
    margin-left: 0.8vw;
}

#containerUser {
    white-space: nowrap;
}

#setaIconUser {
    width: 2vw;
    margin-left: 0.3vw;
    cursor: pointer;
}

#containerFerramentas {
    position: absolute;
    background: #fff;
    height: 0%;
    width: 8vw;
    top: 12%;
    right: 1%;
    transition: 0.1s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#btnSair {
    all: unset;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    color: #fff;
    background: #D40000;
    width: 5vw;
    text-align: center;
    padding: 0.2vw 0;
    border-radius: 5px;
    font-size: 1vw;
    transition: 0.3 ease;
}

#btnSair:hover {
    background: #bd0000;
    border: 1px solid #000;
}

#titleForm {
    text-align: center;
    color: #fff;
    font-size: 2.3vw;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 200;
    text-shadow: red 1px 2px;
    margin-top: 2%;
}

#selectTreino,
#selectExercicio,
#selectIntervalo {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 100;
    width: 15vw;
    height: 2.7vw;
    background: transparent;
    color: #fff;
    font-size: 1.15vw;
    border-radius: 5px;
    border: 1.5px solid #D40000;
}

#selectTreino:focus,
#selectExercicio:focus,
#selectIntervalo:focus {
    border: 1.5px solid #b2000094;
}

#containerSelect {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1%;
}

#spanAux {
    color: #fff;
    font-size: 1.2vw;
    margin-top: 2%;
    font-family: "Raleway", sans-serif;
}

.optTreino,
.optExercicio,
.optIntervalo {
    background: #000;
}

#tituloGrafico {
    font-family: "Raleway", sans-serif;
    font-size: 1.55vw;
    color: #fff;
    font-weight: 200;
    text-align: center;
}

#graph {
    margin-top: 3%;
    height: 62vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#containerGrafico {
    margin-top: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#grafico {
    margin-top: 1.5%;
    width: 80%;
    padding-bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#indicadores {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.kpi {
    border-radius: 7px;
    color: #fff;
    width: 24%;
    height: 18vh;
    border: 1px solid #D40000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1% 0;
}

.kpiTitle {
    font-family: "Raleway", sans-serif;
    font-size: 1vw;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.valorKPI {
    color: #fff;
    font-size: 2.7vw;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 200;
    text-shadow: red 1px 2px;
}